
<div class="container-fluid houseKeeper-container">
    <h1 class="main-heading">Housekeeper Scheduling System</h1>
    <div class="row text-center pt-3">
        <h1>Get Your Rooms Cleaned at your time with just a Click!</h1>
    </div>
    <div class="row btn-row-margin">
        <div class="col-md-6 col-lg-6">
            <div class="admin-login">
                <div class="login-box">
                   
                    <button class="adminlogin" (click)="goToAdminLogin()">Admin Login</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="student-login">
                <div class="login-box">
                  
                    <button class="adminlogin" (click)="goToStudentLogin()">Student Login</button>
                </div>
            </div>
        </div>
    </div>
</div>


